<!-- Main -->
<div class="container">
  <div class="jumbotron">
    <div nz-row>
      <h1>Person Management</h1>
      <div nz-col [nzSpan]="12">
        <nz-input [nzPlaceHolder]="'Input Search Text'" [(ngModel)]="smodel.keyword" [nzType]="'inputValue'" name="keyword"></nz-input>
      </div>
      <div nz-col [nzSpan]="4">
        <nz-select [(ngModel)]="smodel.type" nzAllowClear>
          <nz-option *ngFor="let type of types" [nzLabel]="type.label" [nzValue]="type.value">
          </nz-option>
        </nz-select>
      </div>
      <div nz-col [nzSpan]="8">
        <button nz-button [nzType]="'primary'" (click)="onSearch()">
          <span>Search</span>
        </button>
        <button nz-button [nzType]="'dashed'" (click)="openModal('addPersonModal')">
          <span>Add</span>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="(result)?.length > 0" class="row">
    <div class="col-xs-12 col-12 col-md-6">
      <pagination class="pagination-sm" [boundaryLinks]="true" [rotate]="false" [totalItems]="totalItems" [(ngModel)]="currentPage"
        [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" (pageChanged)="pageChanged($event)" (numPages)="numPages = $event">
      </pagination>
    </div>
  </div>

  <pre *ngIf="(result)?.length > 0" class="card card-block card-header">Page: {{currentPage}} / {{numPages}}</pre>

  <nz-table *ngIf="(result)?.length>0" #nzTable [nzAjaxData]="persons" [nzPageSize]="10" [nzShowSizeChanger]="true">
    <thead nz-thead>
      <tr>
        <th nz-th>
          <span>#</span>
        </th>
        <th nz-th>
          <span>Name</span>
        </th>
        <th nz-th>
          <span>Job Title</span>
        </th>
        <th nz-th>
          <span>Email</span>
        </th>
        <th nz-th>
          <span>Contact Number</span>
        </th>
        <th nz-th>
          <span>Created Date</span>
        </th>
        <th nz-th>
          <span>Updated Date</span>
        </th>
        <th nz-th>
          <span>Actions</span>
        </th>
      </tr>
    </thead>
    <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let person of result; let i=index">
        <td nz-td>{{person._id}}</td>
        <td nz-td>{{person.first_name}} {{person.last_name}}</td>
        <td nz-td>{{person.job_title}}</td>
        <td nz-td>{{person.contact.email}}</td>
        <td nz-td>{{person.contact.contact_no}}</td>
        <td nz-td>{{person.created_date}}</td>
        <td nz-td>{{person.modified_date}}</td>
        <td nz-td>
          <button nz-button [nzType]="'primary'" (click)="edit(person)">
            <i class="anticon anticon-edit"></i>
          </button>
          <button nz-button [nzType]="'danger'" (click)="onDelete(person)">
            <i class="anticon anticon-delete"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <div *ngIf="(result)?.length==0">
    <p>No record found.</p>
  </div>
</div>

<!-- Add Person -->
<nz-modal [nzVisible]="addPersonModal" [nzTitle]="addTitle" [nzContent]="addContent" [nzFooter]="addFooter" (nzOnCancel)="closeModal('addPersonModal')">
  <ng-template #addTitle>
    Add Project
  </ng-template>
  <ng-template #addContent>
    <form nz-form [formGroup]="validateForm">

      <div nz-form-item>
        <div nz-form-label>
          <label>First Name</label>
        </div>
        <div nz-form-control [nzValidateStatus]="validateForm.controls.first_name">
          <nz-input formControlName="first_name" [(ngModel)]="model.first_name" [nzPlaceHolder]="'Your First Name'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="validateForm.controls.first_name.dirty&&validateForm.controls.first_name.hasError('required')">Please input your First Name!</div>
        </div>
      </div>

      <div nz-form-item>
        <div nz-form-label>
          <label>Last Name</label>
        </div>
        <div nz-form-control [nzValidateStatus]="validateForm.controls.last_name">
          <nz-input formControlName="last_name" [(ngModel)]="model.last_name" [nzPlaceHolder]="'Your Last Name'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="validateForm.controls.last_name.dirty&&validateForm.controls.last_name.hasError('required')">Please input your Last Name!</div>
        </div>
      </div>

      <div nz-form-item>
        <div nz-form-label>
          <label>Job Title</label>
        </div>
        <div nz-form-control [nzValidateStatus]="validateForm.controls.job_title">
          <nz-input formControlName="job_title" [(ngModel)]="model.job_title" [nzPlaceHolder]="'Your Job'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="validateForm.controls.job_title.dirty&&validateForm.controls.job_title.hasError('required')">Please input your Job Title!</div>
        </div>
      </div>

      <div nz-form-item>
        <div nz-form-label>
          <label>Postal Code</label>
        </div>
        <div nz-form-control [nzValidateStatus]="validateForm.controls.postal_code">
          <nz-input-number formControlName="postal_code" [(ngModel)]="model.postal_code" [nzPlaceHolder]="'Postal Code'"
            [nzSize]="'large'" style="width:100%;">
          </nz-input-number>
          <div nz-form-explain *ngIf="validateForm.controls.postal_code.dirty&&validateForm.controls.postal_code.hasError('required')">Please input your Postal Code!</div>
        </div>
      </div>

      <div nz-form-label>
        <label>Address</label>
      </div>
      <div nz-form-control [nzValidateStatus]="validateForm.controls.address">
        <nz-input formControlName="address" [(ngModel)]="model.address" [nzPlaceHolder]="'Your Address'" [nzSize]="'large'">
        </nz-input>
        <div nz-form-explain *ngIf="validateForm.controls.address.dirty&&validateForm.controls.address.hasError('required')">Please input your Address!</div>
      </div>

      <div nz-form-item>
        <div nz-form-label>
          <label>City</label>
        </div>
        <div nz-form-control [nzValidateStatus]="validateForm.controls.city">
          <nz-select formControlName="city" [(ngModel)]="model.city" nzAllowClear>
            <nz-option *ngFor="let city of cities" [nzLabel]="city.desc" [nzValue]="city.value">
            </nz-option>
          </nz-select>
          <div nz-form-explain *ngIf="validateForm.controls.city.dirty&&validateForm.controls.city.hasError('required')">Please input your City!</div>
        </div>
      </div>

      <div nz-form-item>
        <div nz-form-label>
          <label>Contact Number</label>
        </div>
        <div nz-form-control [nzValidateStatus]="validateForm.controls.contact_no">
          <nz-input-number formControlName="contact_no" [(ngModel)]="model.contact_no" [nzPlaceHolder]="'Contact Number'" [nzSize]="'large'"
            style="width:100%;">
          </nz-input-number>
          <div nz-form-explain *ngIf="validateForm.controls.contact_no.dirty&&validateForm.controls.contact_no.hasError('required')">Please input your Contact Number!</div>
        </div>
      </div>

      <div nz-form-item>
        <div nz-form-label>
          <label>Email</label>
        </div>
        <div nz-form-control [nzValidateStatus]="validateForm.controls.email">
          <nz-input formControlName="email" [(ngModel)]="model.email" [nzPlaceHolder]="'Email Address'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="validateForm.controls.email.dirty&&validateForm.controls.email.hasError('email')">The input is not valid E-mail!</div>
          <div nz-form-explain *ngIf="validateForm.controls.email.dirty&&validateForm.controls.email.hasError('required')">Please input your Company Email!</div>
        </div>
      </div>

      <div nz-form-item>
        <div nz-form-label>
          <label>BirthDay</label>
        </div>
        <div nz-form-control [nzValidateStatus]="validateForm.controls.dateOfBirth">
          <nz-datepicker formControlName="dateOfBirth" [(ngModel)]="model.dateOfBirth" [nzSize]="'large'" [nzPlaceHolder]="'Choose your birthday'"
            style="width: 100%;"></nz-datepicker>
          <div nz-form-explain *ngIf="validateForm.controls.dateOfBirth.dirty&&validateForm.controls.dateOfBirth.hasError('required')">Please input your birthday!</div>
          <div nz-form-explain *ngIf="validateForm.controls.dateOfBirth.dirty&&validateForm.controls.dateOfBirth.hasError('expired')">Birthday must less than today!</div>
        </div>
      </div>

      <div nz-form-item>
        <div nz-form-label>
          <label>Provider Type</label>
        </div>
        <div nz-form-control [nzValidateStatus]="validateForm.controls.provider_type">
          <nz-select formControlName="provider_type" [(ngModel)]="model.provider_type" nzAllowClear>
            <nz-option *ngFor="let provider_type of provider_types" [nzLabel]="provider_type.desc" [nzValue]="provider_type.value">
            </nz-option>
          </nz-select>
          <div nz-form-explain *ngIf="validateForm.controls.provider_type.dirty&&validateForm.controls.provider_type.hasError('required')">Please input your Provider Type!</div>
        </div>
      </div>

      <div nz-form-item>
        <div nz-form-label>
          <label>Gender</label>
        </div>
        <div nz-form-control [nzValidateStatus]="validateForm.controls.gender">
          <nz-select formControlName="gender" [(ngModel)]="model.gender" nzAllowClear>
            <nz-option *ngFor="let gender of genders" [nzLabel]="gender.desc" [nzValue]="gender.value">
            </nz-option>
          </nz-select>
          <div nz-form-explain *ngIf="validateForm.controls.gender.dirty&&validateForm.controls.gender.hasError('required')">Please input your Gender!</div>
        </div>
      </div>

    </form>
  </ng-template>
  <ng-template #addFooter>
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="closeModal('addPersonModal')">
      cancel
    </button>
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!validateForm.valid" (click)="onSubmit()">
      Submit
    </button>
  </ng-template>
</nz-modal>

<!--Edit Person -->
<nz-modal [nzVisible]="editPersonModal" [nzTitle]="editTitle" [nzContent]="editContent" [nzFooter]="editFooter" (nzOnCancel)="closeModal('editPersonModal')">
  <ng-template #editTitle>
    Edit Project
  </ng-template>
  <ng-template #editContent>

    <form nz-form [formGroup]="editValidateForm">

      <div nz-form-item>
        <div nz-form-label>
          <label>First Name</label>
        </div>
        <div nz-form-control [nzValidateStatus]="editValidateForm.controls.first_name">
          <nz-input formControlName="first_name" [(ngModel)]="editPerson.first_name" [nzPlaceHolder]="'Your First Name'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="editValidateForm.controls.first_name.dirty&&editValidateForm.controls.first_name.hasError('required')">Please input your First Name!</div>
        </div>
      </div>

      <div nz-form-item>
        <div nz-form-label>
          <label>Last Name</label>
        </div>
        <div nz-form-control [nzValidateStatus]="editValidateForm.controls.last_name">
          <nz-input formControlName="last_name" [(ngModel)]="editPerson.last_name" [nzPlaceHolder]="'Your Last Name'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="editValidateForm.controls.last_name.dirty&&editValidateForm.controls.last_name.hasError('required')">Please input your Last Name!</div>
        </div>
      </div>

      <div nz-form-item>
        <div nz-form-label>
          <label>Postal Code</label>
        </div>
        <div nz-form-control [nzValidateStatus]="editValidateForm.controls.postal_code">
          <nz-input-number formControlName="postal_code" [(ngModel)]="editPerson.postal_code" [nzPlaceHolder]="'Postal Code'"
            [nzSize]="'large'" style="width:100%;">
          </nz-input-number>
          <div nz-form-explain *ngIf="editValidateForm.controls.postal_code.dirty&&editValidateForm.controls.postal_code.hasError('required')">Please input your Postal Code!</div>
        </div>
      </div>

      <div nz-form-label>
        <label>Address</label>
      </div>
      <div nz-form-control [nzValidateStatus]="editValidateForm.controls.address">
        <nz-input formControlName="address" [(ngModel)]="editPerson.address" [nzPlaceHolder]="'Your Address'" [nzSize]="'large'">
        </nz-input>
        <div nz-form-explain *ngIf="editValidateForm.controls.address.dirty&&editValidateForm.controls.address.hasError('required')">Please input your Address!</div>
      </div>

      <div nz-form-item>
        <div nz-form-label>
          <label>City</label>
        </div>
        <div nz-form-control [nzValidateStatus]="editValidateForm.controls.city">
          <nz-select formControlName="city" [(ngModel)]="editPerson.city" nzAllowClear>
            <nz-option *ngFor="let city of cities" [nzLabel]="city.desc" [nzValue]="city.value">
            </nz-option>
          </nz-select>
          <div nz-form-explain *ngIf="editValidateForm.controls.city.dirty&&editValidateForm.controls.city.hasError('required')">Please input your City!</div>
        </div>
      </div>

      <div nz-form-item>
        <div nz-form-label>
          <label>Contact Number</label>
        </div>
        <div nz-form-control [nzValidateStatus]="editValidateForm.controls.contact_no">
          <nz-input-number formControlName="contact_no" [(ngModel)]="editPerson.contact_no" [nzPlaceHolder]="'Contact Number'" [nzSize]="'large'"
            style="width:100%;">
          </nz-input-number>
          <div nz-form-explain *ngIf="editValidateForm.controls.contact_no.dirty&&editValidateForm.controls.contact_no.hasError('required')">Please input your Contact Number!</div>
        </div>
      </div>

      <div nz-form-item>
        <div nz-form-label>
          <label>Email</label>
        </div>
        <div nz-form-control [nzValidateStatus]="editValidateForm.controls.email">
          <nz-input formControlName="email" [(ngModel)]="editPerson.email" [nzPlaceHolder]="'Email Address'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="editValidateForm.controls.email.dirty&&editValidateForm.controls.email.hasError('email')">The input is not valid E-mail!</div>
          <div nz-form-explain *ngIf="editValidateForm.controls.email.dirty&&editValidateForm.controls.email.hasError('required')">Please input your Company Email!</div>
        </div>
      </div>

    </form>
  </ng-template>
  <ng-template #editFooter>
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="closeModal('editPersonModal')">
      Cancel
    </button>
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!editValidateForm.valid" (click)="onEdit()">
      Save
    </button>
  </ng-template>
</nz-modal>