<div class="container">
  <div class="jumbotron">
    <form #searchUserForm="ngForm" (ngSubmit)="onSearch()" novalidate class="row">
      <div class="input-group col-lg-7">

       <input id="keyword" #keyword="ngModel" name="keyword" type="text" [(ngModel)]="model.keyword" placeholder="you@domain.com"
          class="form-control" #keyword="ngModel" required/>
        <span class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
      </div>
      <div class="col-lg-3">
        <select class="form-control" #sortBy="ngModel" id="sortBy" [(ngModel)]="model.sortBy" [ngModelOptions]="{standalone: true}"
          (ngModelChange)="onChange($event)">
          <option *ngFor="let sortvalue of sorts" [ngValue]="sortvalue.value">{{sortvalue.desc}}</option>
        </select>
      </div>
      <div class="col-lg-2">
        <button type="submit" id="searchBtn" class="btn btn-primary" id="search">Search</button>
      </div>
    </form>
  </div>
  <div *ngIf="(result)?.length > 0" class="row">
      <div class="col-xs-12 col-12 col-md-6">
        <pagination
          class="pagination-sm"
          [boundaryLinks]="true"
          [rotate]="false"
          [totalItems]="totalItems"
          [(ngModel)]="currentPage"
          [itemsPerPage]="itemsPerPage"
          [maxSize]="maxSize"
          (pageChanged)="pageChanged($event)"
          (numPages)="numPages = $event">
        </pagination>
      </div>
    </div>
     
  <pre *ngIf="(result)?.length > 0" class="card card-block card-header">Page: {{currentPage}} / {{numPages}}</pre>
  <hr>
  <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
  <table *ngIf="(result)?.length > 0" class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Full Name</th>
            <th>Date of Birth</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of result; let i = index">
            <th scope="row">{{i +1}} - {{user._id}}</th>
            <td>{{user.fullname}}</td>
            <td>{{user.dateOfBirth | date:medium}}</td>
            <td>
              <button class="btn btn-primary" title="edit user" (click)="edit(user, template2)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
              <button class="btn btn-danger" title="delete user"
                    (click)="onDelete(user)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </td>
          </tr>
          
        </tbody>
    </table>
    <div *ngIf="(result)?.length==0"><p class="font-weight-bold">No record found.</p></div>
</div>

