<div class="container">
  <div class="jumbotron">
    <form nz-row>
      <div nz-col [nzSpan]="12">
        <nz-input [nzType]="'inputValue'" [nzPlaceHolder]="'input search text'" [(ngModel)]="searchcode.keyword" name="keyword"></nz-input>
      </div>
      <div nz-col [nzSpan]="4">
        <nz-select style="width: 120px;" [(ngModel)]="searchcode.type" name="type" nzAllowClear>
          <nz-option *ngFor="let type of searchtype" [nzLabel]="type.label" [nzValue]="type.value"></nz-option>
        </nz-select>
      </div>
      <div nz-col [nzSpan]="8">
        <button nz-button [nzType]="'primary'" (click)="search()">
          <span>Search</span>
        </button>
        <button nz-button (click)="openModal('codemodel')">
          <span>addCode</span>
        </button>
        <button nz-button (click)="openModal('categorymodel')">
          <span>addCategory</span>
        </button>
      </div>
    </form>
  </div>
  <nz-table *ngIf="(resultcode | async)?.length > 0" #nzTable [nzAjaxData]="resultcode" [nzBordered]="true" [nzTotal]="_total"
    [(nzPageIndex)]="_current" (nzPageIndexChange)="refreshData()" [(nzPageSize)]="_pageSize" (nzPageSizeChange)="refreshData(true)">
    <thead nz-thead>
      <tr>
        <th nz-th>#</th>
        <th nz-th>
          <span>Code Description</span>
        </th>
        <th nz-th>
          <span>Code</span>
        </th>
        <th nz-th>
          <span>Category Description</span>
        </th>
        <th nz-th>
          <span>Category Code</span>
        <th nz-th>
          <span>Created Date</span>
        </th>
        <th nz-th>
          <span>Updated Date</span>
        </th>
        <th nz-th></th>
      </tr>
    </thead>
    <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let result of resultcode | async">
        <td nz-td>{{result._id}}</td>
        <td nz-td>{{result.code_details.code_desc}}</td>
        <td nz-td>{{result.code_details.code}}</td>
        <td nz-td>{{result.category_details.categoryDesc}}</td>
        <td nz-td>{{result.category_details.categoryCode}}</td>
        <td nz-td>{{result.created_date | date:'y-MM-dd'}}</td>
        <td nz-td>{{result.modified_date | date:'y-MM-dd'}}</td>
        <td nz-td>
          <button nz-button [nzType]="'primary'" title="edit" (click)="edit(result)">
            <i class="anticon anticon-edit"></i>
          </button>
          <button nz-button [nzType]="'danger'" title="delete" (click)="delete(result)">
            <i class="anticon anticon-delete"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <div *ngIf="(resultcode | async)?.length==0">
    <p class="font-weight-bold">No record found.</p>
  </div>
</div>
<nz-modal [nzVisible]="categorymodel" [nzTitle]="categoryTitle" [nzContent]="categoryContent" [nzFooter]="categoryFooter" (nzOnCancel)="closeModal('categorymodel')">
  <ng-template #categoryTitle>Add Category</ng-template>
  <ng-template #categoryContent>
    <form nz-form [nzLayout]="'horizontal'">
      <div nz-form-item nz-row>
        <label for="categorydesc">Category Description</label>
        <nz-input id="categorydesc" [nzType]="'inputValue'" [nzPlaceHolder]="''" [(ngModel)]="addcategory.categoryDesc" name="categorydesc"></nz-input>
      </div>
      <div nz-form-item nz-row>
        <label for="categorydesc">Category Code</label>
        <nz-input id="categorydesc" [nzType]="'inputValue'" [nzPlaceHolder]="''" [(ngModel)]="addcategory.categoryCode" name="categoryCode"></nz-input>
        <div nz-form-control nz-col [nzSpan]="14">
          <label nz-checkbox [(ngModel)]="addcategory.is_category" name="checkbox" [nzDisabled]="isDisabled">
            <span>Is Category</span>
          </label>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template #categoryFooter>
    <button nz-button (click)="savecategory()">
      <span>Save</span>
    </button>
  </ng-template>
</nz-modal>
<nz-modal [nzVisible]="codemodel" [nzTitle]="codeTitle" [nzContent]="codeContent" [nzFooter]="codeFooter" (nzOnCancel)="closeModal('codemodel')">
  <ng-template #codeTitle>Add Code</ng-template>
  <ng-template #codeContent>
    <form nz-form [nzLayout]="'horizontal'">
      <div nz-form-item nz-row>
        <label for="codeDesc">Code Description</label>
        <nz-input id="codeDesc" [nzType]="'inputValue'" [nzPlaceHolder]="''" [(ngModel)]="addcode.code_desc" name="codeDesc"></nz-input>
      </div>
      <div nz-form-item nz-row>
        <label for="code">Code</label>
        <nz-input id="code" [nzType]="'inputValue'" [nzPlaceHolder]="''" [(ngModel)]="addcode.code" name="code"></nz-input>
        <div nz-form-control nz-col [nzSpan]="14">
          <label nz-checkbox><!-- [(ngModel)]="addcode.is_category" name="checkbox" [nzDisabled]="isDisabled" -->
            <span>Is Category</span>
          </label>
        </div>
      </div>
      <div nzform-item nz-row>
        <label for="gennder">Category</label>
        <nz-select id="gennder" style="width: 120px;" [(ngModel)]="addcode.category" name="category" nzAllowClear>
          <nz-option *ngFor="let cate of category | async" [nzLabel]="cate.categoryDesc" [nzValue]="cate"></nz-option>
        </nz-select>
      </div>
    </form>
  </ng-template>
  <ng-template #codeFooter>
    <button nz-button (click)="saveaddcode()">
      <span>Save</span>
    </button>
  </ng-template>
</nz-modal>
<nz-modal [nzVisible]="editcodemodel" [nzTitle]="editcodeTitle" [nzContent]="editcodeContent" [nzFooter]="editcodeFooter" (nzOnCancel)="closeModal('editmodel')">
  <ng-template #editcodeTitle>Edit Code</ng-template>
  <ng-template #editcodeContent>
    <form nz-form [nzLayout]="'horizontal'">
      <div nz-form-item nz-row>
        <label for="codeDesc">Code Description</label>
        <nz-input id="codeDesc" [nzType]="'inputValue'" [nzPlaceHolder]="''" [(ngModel)]="editcode.code_desc" name="codeDesc"></nz-input>
      </div>
      <div nz-form-item nz-row>
        <label for="code">Code</label>
        <nz-input id="code" [nzType]="'inputValue'" [nzPlaceHolder]="''" [(ngModel)]="editcode.code" name="code"></nz-input>
        <div nz-form-control nz-col [nzSpan]="14">
          <label nz-checkbox><!-- [(ngModel)]="addcode.is_category" name="checkbox" [nzDisabled]="isDisabled" -->
            <span>Is Category</span>
          </label>
        </div>
      </div>
      <div nz-form-item nz-row>
        <label for="categorydesc">Category Description</label>
        <nz-input id="categorydesc" [nzType]="'inputValue'" [nzPlaceHolder]="''" [(ngModel)]="editcode.categoryDesc" name="categorydesc" [nzDisabled]="'true'" [nzReadonly]="'true'" ></nz-input>
      </div>
      <div nz-form-item nz-row>
        <label for="categorydesc">Category Code</label>
        <nz-input id="categorydesc" [nzType]="'inputValue'" [nzPlaceHolder]="''" [(ngModel)]="editcode.categoryCode" name="categoryCode"></nz-input>
        <div nz-form-control nz-col [nzSpan]="14">
          <label nz-checkbox [(ngModel)]="editcode.is_category" name="checkbox" [nzDisabled]="isDisabled">
            <span>Is Category</span>
          </label>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template #editcodeFooter>
    <button nz-button (click)="saveeditcode()">
      <span>Save</span>
    </button>
  </ng-template>
</nz-modal>