<div class="row">
  <div class="col-xl-5">
    <div>
      <h3>Set Up Organisation Chart Of /projectName/</h3>
    </div>
    <br />
    <div>
      <h5>Project ID</h5>
      <div>
        <ng-select [options]="projectidoption" (ngModelChange)="dosth()" [multiple]="false" [(ngModel)]="submitperson.projectid" name="projectid"></ng-select>
      </div>
    </div>
    <br />
    <div>
      <h5>Reporting Officer</h5>
      <div>
        <ng-select [options]="reportingofficeroption" (ngModelChange)="dosth()" [multiple]="false" [(ngModel)]="submitperson.reportingofficer" name="officer"></ng-select>
      </div>
    </div>
    <br />
    <div>
      <h5>Selected Member</h5>
      <div>
        <ng-select [options]="selectmemberoption" (ngModelChange)="dosth()" [multiple]="true" [(ngModel)]="submitperson.selectmember" name="member"></ng-select>
      </div>
    </div>
    <br />
    <button class="btn btn-success" (click)="addmember()" >ADD</button>
    <button class="btn btn-primary" (click)="dosth()" >SUBMIT</button>
  </div>
  <div class="col-xl-7">
    <ng-org-chart [topEmployee]="topEmployee"></ng-org-chart>
    <br />
    <table *ngIf="(persondetail | async)?.length > 0" class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>fax</th>
          <th>phone</th>
          <th>email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of persondetail | async">
          <th scope="row">{{result.person_id}}</th>
          <td>{{result.site_fax}}</td>
          <td>{{result.site_phone}}</td>
          <td>{{result.site_email}}</td>
        </tr>
  
      </tbody>
    </table>
  </div>
</div>