

  <div class="jumbotron">
    <form #searchUserForm="ngForm"  novalidate class="row">
      <div class="input-group col-lg-9">
  
        <!-- <input  id="keyword"  #keyword="ngModel" name="keyword" type="text" [(ngModel)]="searchcondition.keyword" placeholder="Adam Smith" 
          class="form-control" #keyword="ngModel" required/>
        <select class="form-control"   #condition="ngModel" id="condition" [(ngModel)]="searchcondition.condition" [ngModelOptions]="{standalone: true}"
        (ngModelChange)="onChange($event)">
        <option *ngFor="let condition of conditions" [ngValue]="condition.value">{{condition.desc}}</option>
      </select>   -->
      <div class="col-lg-1">
        <button type="submit" id="searchBtn" class="btn btn-primary" id="search" (click)="onSearch(company)">Search</button>
      </div>
      <div class="col-lg-3">
        <button type="button" id="addBtn" class="btn btn-primary" id="add" (click)="openModal(template)">Add</button>
      </div>
      </div>
    </form>
  </div>
  