<div nz-row [nzGutter]="24">
  <h4>Time Picker Component</h4>
  <nz-tabset nz-col [nzSpan]="12">
    <nz-tab>
      <ng-template #nzTabHeading>
        Display
      </ng-template>
      <form nz-form>

        <div nz-form-item>
          <div nz-form-label>
            <label>Label</label>
          </div>
          <div nz-form-control>
            <nz-input name="label" [(ngModel)]="timePickerModel.label" [nzPlaceHolder]="'Area Label'" [nzSize]="'large'">
            </nz-input>
          </div>
        </div>

        <div nz-form-item>
          <div nz-form-label>
            <label>Placeholder</label>
          </div>
          <div nz-form-control>
            <nz-input name="placeholder" [(ngModel)]="timePickerModel.placeholder" [nzPlaceHolder]="'Placeholder'" [nzSize]="'large'">
            </nz-input>
          </div>
        </div>

        <div nz-form-item>
          <div nz-form-label>
            <label>Description</label>
          </div>
          <div nz-form-control>
            <nz-input name="description" [(ngModel)]="timePickerModel.description" [nzPlaceHolder]="'Description for this timePicker'" [nzSize]="'large'">
            </nz-input>
          </div>
        </div>

      </form>
    </nz-tab>

    <nz-tab>
      <ng-template #nzTabHeading>
        Validation
      </ng-template>
      <!-- Edit Validation Here -->

    </nz-tab>

  </nz-tabset>

  <div nz-col [nzSpan]="12">
    <h6>Preview</h6>
    <br/>
    <div nz-form class="preview-form">
      <div nz-form-label>
        <label>{{timePickerModel.label}}</label>
      </div>
      <div nz-form-control>
        <nz-timepicker [nzPlaceHolder]="timePickerModel.placeholder"></nz-timepicker><br>
        <span>{{timePickerModel.description}}</span>
      </div>
    </div>

    <br/>

    <div style="float:right;">
      <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="onSave(timePickerModel)">Save</button>
      <button nz-button [nzType]="'danger'" [nzSize]="'large'">Remove</button>
    </div>

  </div>

</div>