<h1>
  Block5D Kitchen Sink AngularJS
</h1>
<ng2-toasty></ng2-toasty>
<div>
  <tabset>
      <tab>
          <ng-template tabHeading>
              <a class="routing_link" routerLink="/reg-user">Registration</a>
          </ng-template>
      </tab>
      <tab>
          <ng-template tabHeading>
              <a class="routing_link" routerLink="/user-list">list of users</a>
          </ng-template>
      </tab>
      <tab>
          <ng-template tabHeading>
              <a class="routing_link" routerLink="/search-user">Search by fullname</a>
          </ng-template>
      </tab>
      <tab>
          <ng-template tabHeading>
              <a class="routing_link" routerLink="/sampleApp1">Sample App 1</a>
          </ng-template>
      </tab>
      <tab>
          <ng-template tabHeading>
              <a class="routing_link" routerLink="/sampleApp2">Sample App 2</a>
          </ng-template>
      </tab>
      <tab>
          <ng-template tabHeading>
              <a class="routing_link" routerLink="/sampleApp3">Sample App 3</a>
          </ng-template>
      </tab>
      <tab>
          <ng-template tabHeading>
              <a class="routing_link" routerLink="/sampleApp4">Sample App 4</a>
          </ng-template>
      </tab>
      <tab>
          <ng-template tabHeading>
              <a class="routing_link" routerLink="/upload-s3">Upload to AWS S3</a>
          </ng-template>
      </tab>
      <tab>
          <ng-template tabHeading>
              <a class="routing_link" routerLink="/upload-firebase">Upload to Firebase Storage</a>
          </ng-template>
      </tab>
      <tab>
          <ng-template tabHeading>
              <a class="routing_link" routerLink="/firechat">Firebase Chat App</a>
          </ng-template>
      </tab>
      <tab>
          <ng-template tabHeading>
              <a class="routing_link" routerLink="/pic-gallery">Photo Gallery (FireStore)</a>
          </ng-template>
      </tab>
      <tab>
          <ng-template tabHeading>
              <a class="routing_link" routerLink="/c-input">Component Interaction (@Input)</a>
          </ng-template>
      </tab>
      <tab>
          <ng-template tabHeading>
              <a class="routing_link" routerLink="/vote-user">like & Dislike User (@Output)</a>
          </ng-template>
      </tab>
      <tab>
        <ng-template tabHeading>
            <a class="routing_link" routerLink="/pro-sub">Project Submission</a>
        </ng-template>
    </tab>
    <tab>
        <ng-template tabHeading>
            <a class="routing_link" routerLink="/per-mana">Person Management</a>
        </ng-template>
    </tab>
    <tab>
        <ng-template tabHeading>
            <a class="routing_link" routerLink="/pro-mana">Project Management</a>
        </ng-template>
    </tab>
  </tabset>
</div>
<hr>
<div class="col-lg-12">
    <router-outlet></router-outlet>
</div>
