<h1>
    Block5D Kitchen Sink AngularJS
</h1>
<ng2-toasty [position]="'top-right'"></ng2-toasty>
<div>

    <tabset>
        <tab>
            <ng-template tabHeading>
                <a class="routing_link" routerLink="/reg-user">Registration</a>
            </ng-template>
        </tab>
        <tab>
            <ng-template tabHeading>
                <a class="routing_link" routerLink="/user-list">list of users</a>
            </ng-template>
        </tab>
        <tab>
            <ng-template tabHeading>
                <a class="routing_link" routerLink="/search-user">Search by full name</a>
            </ng-template>
        </tab>
        <tab>
            <ng-template tabHeading>
                <a class="routing_link" routerLink="/sampleApp4">Sample App (Showcase)</a>
            </ng-template>
        </tab>
        <tab>
            <ng-template tabHeading>
                <a class="routing_link" routerLink="/upload-s3">Upload to AWS S3</a>
            </ng-template>
        </tab>
        <tab>
            <ng-template tabHeading>
                <a class="routing_link" routerLink="/upload-firebase">Upload to Firebase Storage</a>
            </ng-template>
        </tab>
        <tab>
            <ng-template tabHeading>
                <a class="routing_link" routerLink="/firechat">Firebase Chat App</a>
            </ng-template>
        </tab>
        <tab>
            <ng-template tabHeading>
                <a class="routing_link" routerLink="/pic-gallery">Photo Gallery (FireStore)</a>
            </ng-template>
        </tab>
        <tab>
            <ng-template tabHeading>
                <a class="routing_link" routerLink="/c-input">Component Interaction (@Input)</a>
            </ng-template>
        </tab>
        <tab>
            <ng-template tabHeading>
                <a class="routing_link" routerLink="/vote-user">like & Dislike User (@Output)</a>
            </ng-template>
        </tab>
        <tab>
            <ng-template tabHeading>
                <a class="routing_link" routerLink="/pro-sub">Project Submission</a>
            </ng-template>
        </tab>
        <tab>
            <ng-template tabHeading>
                <a class="routing_link" routerLink="/per-mana">Person Management</a>
            </ng-template>
        </tab>
        <tab>
            <ng-template tabHeading>
                <a class="routing_link" routerLink="/pro-mana">Project Management</a>
            </ng-template>
        </tab>
        <tab>
            <ng-template tabHeading>
                <a class="routing_link" routerLink="/pro-mem">Project Members</a>
            </ng-template>
        </tab>
        <tab>
      <ng-template tabHeading>
          <a class="routing_link" routerLink="/company-management">Company Management</a>
      </ng-template>
  </tab>
  <tab>
      <ng-template tabHeading>
          <a class="routing_link" routerLink="/user-group">User Group</a>
      </ng-template>
  </tab>
  <tab>
      <ng-template tabHeading>
            <a class="routing_link" routerLink="/workflow">Workflow</a>
        </ng-template>
    </tab>
  <tab>
          <ng-template tabHeading>
              <a class="routing_link" routerLink="/codeManagement">code Management</a>
          </ng-template>
      </tab>
      <tab>
          <ng-template tabHeading>
              <a class="routing_link" routerLink="/org-chart">org-chart</a>
          </ng-template>
      </tab>   
      <tab>
          <ng-template tabHeading>
              <a class="routing_link" routerLink="/sampleApp1">Sample App 1</a>
          </ng-template>
      </tab>

  </tabset>
</div>
<hr>
<div class="col-lg-12">
    <router-outlet></router-outlet>
</div>