<div nz-row [nzGutter]="24">

  <form nz-col [nzSpan]="12" nz-form [formGroup]="projectSubmissionValidateForm">
    <h4>Project Submission</h4>

    <div nz-form-item>
      <div nz-form-label>
        <label>Project ID</label>
      </div>
      <div nz-form-control [nzValidateStatus]="projectSubmissionValidateForm.controls.project_id">
        <nz-select formControlName="project_id" [(ngModel)]="showProject" nzAllowClear>
          <nz-option *ngFor="let project of projects | async" [nzLabel]="project._id" [nzValue]="project">
          </nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="projectSubmissionValidateForm.controls.project_id.dirty&&projectSubmissionValidateForm.controls.project_id.hasError('required')">Please input your Project ID!</div>
      </div>
    </div>

    <div nz-form-item>
      <div nz-form-label>
        <label>Description</label>
      </div>
      <div nz-form-control [nzValidateStatus]="projectSubmissionValidateForm.controls.description">
        <nz-input formControlName="description" [(ngModel)]="model.description" [nzPlaceHolder]="'Description'" [nzSize]="'large'">
        </nz-input>
        <div nz-form-explain *ngIf="projectSubmissionValidateForm.controls.description.dirty&&projectSubmissionValidateForm.controls.description.hasError('required')">Please input your Description!</div>
      </div>
    </div>

    <div nz-form-item>
      <div nz-form-label>
        <label>Authority</label>
      </div>
      <div nz-form-control [nzValidateStatus]="projectSubmissionValidateForm.controls.authority">
        <nz-select formControlName="authority" [(ngModel)]="model.authority" nzAllowClear>
          <nz-option *ngFor="let authority of authorities" [nzLabel]="authority.desc" [nzValue]="authority.value">
          </nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="projectSubmissionValidateForm.controls.authority.dirty&&projectSubmissionValidateForm.controls.authority.hasError('required')">Please input your Authority!</div>
      </div>
    </div>

    <div nz-form-item>
      <div nz-form-label>
        <label>Planned Submission Date</label>
      </div>
      <div nz-form-control [nzValidateStatus]="projectSubmissionValidateForm.controls.planned_submission_date">
        <nz-datepicker formControlName="planned_submission_date" [(ngModel)]="model.planned_submission_date" [nzSize]="'large'" [nzPlaceHolder]="'Choose your Planned Submission Date'"
          style="width: 100%;"></nz-datepicker>
        <div nz-form-explain *ngIf="projectSubmissionValidateForm.controls.planned_submission_date.dirty&&projectSubmissionValidateForm.controls.planned_submission_date.hasError('required')">Please input your birthday!</div>
      </div>
    </div>

    <div nz-form-item>
      <div nz-form-label>
        <label>First Submission Date!</label>
      </div>
      <div nz-form-control [nzValidateStatus]="projectSubmissionValidateForm.controls.first_submission_date">
        <nz-datepicker formControlName="first_submission_date" [(ngModel)]="model.first_submission_date" [nzSize]="'large'" [nzPlaceHolder]="'Choose your First Submission Date!'"
          style="width: 100%;"></nz-datepicker>
        <div nz-form-explain *ngIf="projectSubmissionValidateForm.controls.first_submission_date.dirty&&projectSubmissionValidateForm.controls.first_submission_date.hasError('required')">Please input your First Submission Date!</div>
      </div>
    </div>

    <div nz-form-item>
      <div nz-form-label>
        <label>Second Submission Date</label>
      </div>
      <div nz-form-control [nzValidateStatus]="projectSubmissionValidateForm.controls.second_submission_date">
        <nz-datepicker formControlName="second_submission_date" [(ngModel)]="model.second_submission_date" [nzSize]="'large'" [nzPlaceHolder]="'Choose your Second Submission Date'"
          style="width: 100%;"></nz-datepicker>
        <div nz-form-explain *ngIf="projectSubmissionValidateForm.controls.second_submission_date.dirty&&projectSubmissionValidateForm.controls.second_submission_date.hasError('required')">Please input your Second Submission Date!</div>
        <div nz-form-explain *ngIf="projectSubmissionValidateForm.controls.second_submission_date.dirty&&projectSubmissionValidateForm.controls.second_submission_date.hasError('expired')">Second Submission Date must more than First Submission Date!</div>
      </div>
    </div>

    <div nz-form-item>
      <div nz-form-label>
        <label>Type</label>
      </div>
      <div nz-form-control [nzValidateStatus]="projectSubmissionValidateForm.controls.type">
        <nz-select formControlName="type" [(ngModel)]="model.type" nzAllowClear>
          <nz-option *ngFor="let type of types" [nzLabel]="type.desc" [nzValue]="type.value">
          </nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="projectSubmissionValidateForm.controls.type.dirty&&projectSubmissionValidateForm.controls.type.hasError('required')">Please input your Type!</div>
      </div>
    </div>

    <div nz-form-item>
      <div nz-form-label>
        <label>Status</label>
      </div>
      <div nz-form-control [nzValidateStatus]="projectSubmissionValidateForm.controls.status">
        <nz-select formControlName="status" [(ngModel)]="model.status" nzAllowClear>
          <nz-option *ngFor="let status of statuses" [nzLabel]="status.desc" [nzValue]="status.value">
          </nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="projectSubmissionValidateForm.controls.status.dirty&&projectSubmissionValidateForm.controls.status.hasError('required')">Please input your Status!</div>
      </div>
    </div>

    <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!projectSubmissionValidateForm.valid" (click)="onSubmit()">
      Submit
    </button>

  </form>

  <div nz-col [nzSpan]="12">
    <h6>Project Detail</h6>
    <nz-table [nzAjaxData]="showProject" *ngIf="showProject" [nzBordered]="true" style="word-break:break-all;word-wrap:break-word;">
      <thead nz-thead>
        <!-- <tr>
          <th nz-th>Project ID</th>
          <td nz-td>{{showProject._id}}</td>
        </tr> -->
        <tr>
          <th nz-th>Start Date</th>
          <td nz-td>{{showProject.start_date | date:medium}}</td>
          <th nz-th>End Date</th>
          <td nz-td>{{showProject.end_date | date:medium}}</td>
        </tr>
        <tr>
          <th nz-th>Client Company</th>
          <td nz-td>{{showProject.project_members.client_company}}</td>
          <th nz-th>Main Contractor</th>
          <td nz-td>{{showProject.project_members.main_contractor_company}}</td>
        </tr>
        <tr>
          <th nz-th>Subcontractors</th>
          <td nz-td colspan="3">{{showProject.project_members.subcontractors}}</td>
        </tr>
        <tr>
          <th nz-th>Suppliers</th>
          <td nz-td colspan="3">{{showProject.project_members.suppliers}}</td>
        </tr>
        <tr>
          <th nz-th>Project Manager</th>
          <td nz-td>{{showProject.project_members.project_manager_person}}</td>
          <th nz-th>Architect</th>
          <td nz-td>{{showProject.project_members.architect_person}}</td>
        </tr>
        <tr>
          <th nz-th>Design Architect</th>
          <td nz-td>{{showProject.project_members.design_architect_person}}</td>
          <th nz-th>Quantity Surveyor</th>
          <td nz-td>{{showProject.project_members.quantity_surveyor_person}}</td>
        </tr>
        <tr>
          <th nz-th>Consultant Engineer</th>
          <td nz-td>{{showProject.project_members.cs_engineer_person}}</td>
          <th nz-th>Service Engineer</th>
          <td nz-td>{{showProject.project_members.service_engineer_person}}</td>
        </tr>
        <tr>
          <th nz-th>Contact Number</th>
          <td nz-td>{{showProject.contacts.contact_no}}</td>
          <th nz-th>Fax Number</th>
          <td nz-td>{{showProject.contacts.fax_no}}</td>
        </tr>
        <tr>
          <th nz-th>Company Email</th>
          <td nz-td>{{showProject.contacts.company_email}}</td>
          <th nz-th>Country</th>
          <td nz-td>{{showProject.project_country}}</td>
        </tr>
        <tr>
          <th nz-th>Completion Date</th>
          <td nz-td>{{showProject.project_progress.completion_date | date:medium}}</td>
          <th nz-th>Percentage Work Done</th>
          <td nz-td>{{showProject.project_progress.pct_work_done}}%</td>
        </tr>
        <tr>
          <th nz-th>Site Possession</th>
          <td nz-td>{{showProject.project_progress.site_possession}}</td>
          <th nz-th>Site Issues</th>
          <td nz-td>{{showProject.project_progress.site_issues}}</td>
        </tr>
        <tr>
          <th nz-th>Contract Currency</th>
          <td nz-td>{{showProject.project_progress.contract_currency}}</td>
          <th nz-th>Contract Sum</th>
          <td nz-td>{{showProject.project_progress.contract_sum}}</td>
        </tr>
        <tr>
          <th nz-th>Contract Duration Base</th>
          <td nz-td>{{showProject.project_progress.contract_duration_base | date:medium}}</td>
          <th nz-th>Contract Duration Remaining</th>
          <td nz-td>{{showProject.project_progress.contract_duration_remaining | date:medium}}</td>
        </tr>
        <tr>
          <th nz-th>Progress Remarks</th>
          <td nz-td colspan="3">{{showProject.project_progress.remarks}}</td>
        </tr>
        <tr>
          <th nz-th>Monitoring Description</th>
          <td nz-td>{{showProject.project_monitoring.desc}}</td>
        </tr>
        <tr>
          <th nz-th>Planned Start Date</th>
          <td nz-td>{{showProject.project_monitoring.planned_start_date | date:medium}}</td>
          <th nz-th>Planned End Date</th>
          <td nz-td>{{showProject.project_monitoring.planned_end_date | date:medium}}</td>
        </tr>
        <tr>
          <th nz-th>Actual Start Date</th>
          <td nz-td>{{showProject.project_monitoring.actual_start_date | date:medium}}</td>
          <th nz-th>Actual End Date</th>
          <td nz-td>{{showProject.project_monitoring.actual_end_date | date:medium}}</td>
        </tr>
        <tr>
          <th nz-th>Percentage Completed Planned</th>
          <td nz-td>{{showProject.project_monitoring.pct_completed_planned}}%</td>
          <th nz-th>Percentage Completed Actual</th>
          <td nz-td>{{showProject.project_monitoring.pct_completed_actual}}%</td>
        </tr>
        <tr>
          <th nz-th>One Week Target</th>
          <td nz-td>{{showProject.project_monitoring.pct_completed_1wktarget}}%</td>
        </tr>
        <tr>
          <th nz-th>Monitoring Remark</th>
          <td nz-td colspan="3">{{showProject.project_monitoring.remark}}</td>
        </tr>
        <tr>
          <th nz-th>Modified Date</th>
          <td nz-td>{{showProject.modified_date}}</td>
          <th nz-th>Created Date</th>
          <td nz-td>{{showProject.created_date}}</td>
        </tr>
        <tr>
          <th nz-th>Modified By</th>
          <td nz-td>{{showProject.modified_by}}</td>
          <th nz-th>Created By</th>
          <td nz-td>{{showProject.created_by}}</td>
        </tr>
      </thead>
    </nz-table>
  </div>

</div>