<div nz-row [nzGutter]="24">
  <h4>Text Field Component</h4>
  <nz-tabset nz-col [nzSpan]="12">
    <nz-tab>
      <ng-template #nzTabHeading>
        Display
      </ng-template>
      <form nz-form>

        <div nz-form-item>
          <div nz-form-label>
            <label>Template</label>
          </div>
          <div nz-form-control>
            <nz-select (ngModelChange)="change($event)" [(ngModel)]="textFieldModel.label" [ngModelOptions]="{standalone: true}">
              <nz-option *ngFor="let model of models" [nzLabel]="model.label" [nzValue]="model.label">
              </nz-option>
            </nz-select>
          </div>
        </div>

        <div nz-form-item>
          <div nz-form-label>
            <label>Label</label>
          </div>
          <div nz-form-control>
            <nz-input name="label" [(ngModel)]="textFieldModel.label" [nzPlaceHolder]="'Field Label'" [nzSize]="'large'">
            </nz-input>
          </div>
        </div>

        <div nz-form-item>
          <div nz-form-label>
            <label>Placeholder</label>
          </div>
          <div nz-form-control>
            <nz-input name="placeholder" [(ngModel)]="textFieldModel.placeholder" [nzPlaceHolder]="'Placeholder'" [nzSize]="'large'">
            </nz-input>
          </div>
        </div>

        <div nz-form-item>
          <div nz-form-label>
            <label>Description</label>
          </div>
          <div nz-form-control>
            <nz-input name="description" [(ngModel)]="textFieldModel.description" [nzPlaceHolder]="'Description for this field'" [nzSize]="'large'">
            </nz-input>
          </div>
        </div>

      </form>
    </nz-tab>

    <nz-tab>
      <ng-template #nzTabHeading>
        Validation
      </ng-template>
      <label nz-checkbox [(ngModel)]="textFieldModel.validation.required" (ngModelChange)="_console($event)">
        <span>Required</span>
      </label>
      <label nz-checkbox [(ngModel)]="textFieldModel.validation.unique" (ngModelChange)="_console($event)">
        <span>Unique</span>
      </label>
      <div nz-row [nzGutter]="48" >
        <div nz-col [nzSpan]="12">
          <h6>
            <span>Minimum Length</span>
          </h6>
          <nz-input-number style="width:100%" [(ngModel)]="textFieldModel.validation.minlength" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
        </div>
        <div nz-col [nzSpan]="12">
          <h6>
            <span>Maximum Length</span>
          </h6>
          <nz-input-number style="width:100%" [(ngModel)]="textFieldModel.validation.maxlength" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
        </div>
      </div>
      <h6>
        <span>Custom Error Message</span>
      </h6>
      <nz-input [(ngModel)]="textFieldModel.validation.error_massage" [nzPlaceHolder]="'Custom Error Message'" (ngModelChange)="_console($event)"></nz-input>


    </nz-tab>

  </nz-tabset>

  <div nz-col [nzSpan]="12">
    <h6>Preview</h6>
    <br/>
    <div nz-form class="preview-form">
      <div nz-form-label>
        <label>{{textFieldModel.label}}</label>
      </div>
      <div nz-form-control>
        <nz-input [nzPlaceHolder]="textFieldModel.placeholder" [nzSize]="'large'" [nzDisabled]="true"></nz-input>
        <span>{{textFieldModel.description}}</span>
      </div>
    </div>

    <br/>

    <div style="float:right;">
      <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="onSave(textFieldModel)">Save</button>
      <button nz-button [nzType]="'danger'" [nzSize]="'large'">Remove</button>
    </div>

  </div>

</div>

<app-webform-number></app-webform-number>
<app-webform-password></app-webform-password>
<app-webform-text-area></app-webform-text-area>
<app-webform-button></app-webform-button>
<app-webform-select></app-webform-select>
<app-webform-radio></app-webform-radio>
<app-webform-select-boxes></app-webform-select-boxes>
<app-webform-check-box></app-webform-check-box>
<app-webform-date-picker></app-webform-date-picker>
<app-webform-time-picker></app-webform-time-picker>