<div class="container">
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Full Name</th>
      <th>Date of Birth</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | async">
      <th scope="row">{{user._id}}</th>
      <td>{{user.fullname}}</td>
      <td>{{user.dateOfBirth | date:medium}}</td>
      <td>
        <button class="btn btn-primary" title="edit user"
        (click)="edit(user)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
        <button class="btn btn-danger" title="delete user"
              (click)="delete(user)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
      </td>
    </tr>
    
  </tbody>
</table>
</div>